<center>

      <h1>All Books At the Library: <a href="/libraries/<%=@library.id%>"><%=@library.name%></a>:<h1>


        <%@books.each do |b|%>
          <a href="/books/<%=b.id%>"><%=b.name%></a>
        <%end%>
        <br></br>
        <a href="/logout">Log Out</a>
<center>
