<center>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>



      <h1>Login page</h1>
      <form action="/login" method="POST">
              <b><p>User Type:</p></b>
              <ul><label>Consumer</label>
                  <input type="radio" name="user[librarian]" id="consumer" value=false>
              <label>Librarian</label>
                  <input type="radio" name="user[librarian]" id="librarian" value=true>
              </ul>


              <b><label>Username:</label></b>
              <input type="text" name="user[username]" id="username" placeholder="">
            <br></br>

              <b><label>Password?</label></b>
              <input type="text" name="user[password]" id="password" placeholder="">
          <br></br>
              <input type="submit" name="submit" value="submit">

      </form>

      <a href="/signup">Don't have an account? Click here to signup</a>
      <br></br>


</center>
