<center>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


      <h1>User Signup page</h1>
      <form action="/signup" method="POST">
              <b><p>User Type:</p></b>
              <ul><label>Consumer</label>
                  <input type="checkbox" name="consumer" id="consumer">
              <label>Librarian</label>
                  <input type="checkbox" name="librarian" id="librarian">
              </ul>


              <b><label>New Username:</label></b>
              <input type="text" name="username" id="username" placeholder="">
            <br></br>
              <b><label>What is your email?</label></b>
              <input type="text" name="email" id="email" placeholder="">
            <br></br>
              <b><label>What is your password?</label></b>
              <input type="text" name="password" id="password" placeholder="">
          <br></br>
              <input type="submit" name="submit" value="Create New User">

      </form>

      <a href="/login">Already a user. Click here to login</a>
</center>
