<center>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


      <h1>User Signup page</h1>
      <form action="/signup" method="POST">
              <b><p>User Type:</p></b>
              <ul><label>Consumer</label>
                  <input type="radio" name="user[librarian]" id="consumer" value = false>
              <label>Librarian</label>
                  <input type="radio" name="user[librarian]" id="librarian" value= true>
              </ul>

              <b><label>New Username:</label></b>
              <input type="text" name="user[username]" id="username" placeholder="">
            <br></br>
              <b><label>What is your email?</label></b>
              <input type="text" name="user[email]" id="email" placeholder="">
            <br></br>
              <b><label>What is your password?</label></b>
              <input type="text" name="user[password]" id="password" placeholder="">
          <br></br>
              <input type="submit" name="submit" value="Create New User">
      <!-- this form loads into params which is made available in the post '/signup' controller to be used-->
      </form>

      <a href="/login">Already a user. Click here to login</a>
</center>
